<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.com.sino_device.xianshutushugui">

    <!-- 访问网络 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 网络状态 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 摄像头 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- 读取存储 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- 写入存储 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="cn.com.sino_device.xianshutushugui.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".GuideActivity"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".user.signin.SignInActivity"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleInstance"
            android:windowSoftInputMode="adjustPan|stateHidden"></activity>
        <activity
            android:name=".user.SignUpActivityBAKSMS"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan|stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".user.MsgSignInActivity"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".user.UserActivity"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".user.UserPwdActivity"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".user.EditUserinfoActivity"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".setting.SettingActivity"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".book.BookDetailActivity"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".user.signup.SignUpActivity"
            android:configChanges="orientation|screenSize">

        </activity>
        <activity
            android:name=".search.SearchActivity"
            android:configChanges="orientation|screenSize" />
        <activity android:name=".setting.AccountSecurityActivity" />
        <activity
            android:name=".borrow.BorrowDetailActivity"
            android:configChanges="orientation|screenSize">

        </activity>
        <activity android:name=".TestActivity">

        </activity>
    </application>

</manifest>